@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Shizuru&display=swap');
@import 'variables.css';
@import "pages/catalog.css";
@import "pages/form.css";
@import "pages/main.css";
body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
}
.header
{

    display: flex;
    justify-content: flex-end;
    margin:0 auto;
    max-width: 1440px;
    min-height: 700px;
    align-items: center;
}
.header__screen
{
    display: flex;
    margin-bottom: 10px;
    justify-content: center;
    min-height: 696px;
    width: 100%;
}
.header__logo
{
    width: 100%;
    height: auto;
}
.header__logo img
{
    margin-top: 55px;

}
.header__heading
{
    margin-left:80px;
}
.header__heading h1
{
    max-width: 414px;
    min-height: 120px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    color: #000000;
    margin-bottom: 40px;
}
.header__heading p
{
    max-width: 283px;
    min-height: 20px;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: #000000;
    margin-bottom: 50px;
}
.header__heading a
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    max-width: 244px;
    min-height: 54px;
    background: #68B738;
    text-decoration: none;
}
.header__heading span
{
    max-width: 192px;
    min-height: 26px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;

}
.header__menu
{
    width: 100%;
    height: auto;
    background: url("../img/index-background-desktop.png") no-repeat;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.header__main-menu
{
    display: flex;
    gap: 32px;
    margin-top: 70px;
    max-width: 478px;
    min-height: 40px;
}
.header__main-menu a
{
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF;
}
.header__product
{
    position: relative;
    right: 218px;
    margin-top: 40px;
}
.header__product img
{
width: 100%;
    height: auto;
}
.container
 {
     margin: 0 auto;
     max-width: 1330px;
     width: 100%;
     height: auto;
 }
.main__advantages
{
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-top: 80px;
    max-width: 1220px;
    height: 380px;
}

.main__catalog-loss
{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: 570px;
    min-height: 374px;
    background: #F2F2F2;
}
.main__catalog-top
{
    margin-top: 40px;
    margin-left: 50px;
    display: flex;
    align-self: start;
}
.main__catalog-top img
{
width: 100%;
    height: auto;
}
.main__catalog-top p
{
    margin-left: 60px;
    max-width: 164px;
    min-height: 36px;
    font-weight: 400;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: #000000;
}
.main__catalog-middle
{
    margin-top: 40px;
    max-width: 467px;
    min-height: 72px;
}
.main__catalog-bottom
{
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-left: 50px;
    align-self: start;
    max-width: 170px;
   min-height: 38px;
    margin-bottom: 60px;
}
.main__catalog-bottom a
{
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}
.main__catalog-bottom img
{
    margin-left: 30px;
    width: 32px;
    height: 10px;
}
.main__catalog-mass
{
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    max-width: 570px;
    min-height: 374px;
    background: #F2F2F2;
}
.main__section
{
    max-width: 1220px;
    height: auto;
    margin-top: 70px;
}
.main__instruction-top
{
    margin-bottom: 30px;
}
.main__instruction-top h2
{
    max-width: 375px;
    min-height: 60px;
    font-weight: 400;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #000000;
}
.main__instruction-card-list
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    gap:95px;
}
.main__instruction-card
{
    display: flex;
    flex-flow: column;
    margin-top: 30px;
    max-width: 230px;
    max-height: 280px;
    width: 100%;

}
.main__instruction-card-top
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:40px;
    max-width: 80px;
    min-height: 80px;
    background-color:#68B738;
}
.main__instruction-card-top img
{
    width: 30px;
    height: 32px;
}
.main__instruction-card-middle
{
z-index: 3;
}
.main__instruction-card-middle p
{
    max-width: 245px;
    min-height: 72px;
    font-size: 16px;
    line-height: 1.5;
    color: #444444;
}
.main__instruction-card-bottom
{
    align-self: flex-end;
    position: relative;
    bottom: 220px;

}
.main__instruction-card-bottom span
{
    max-width: 112px;
    min-height: 280px;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #F2F2F2;
}
.main__before-after
{
    margin-top: 10px;
    width: 100%;
    min-height: 656px;
    border: 1px solid red;
}
.main__before-after-top
{
    max-width: 1220px;
    width: 100%;
    height: auto;
border: 1px solid red;
}
.main__before-after-top h3
{
    max-width: 325px;
    min-height: 60px;
    width: 100%;
    font-weight: 400;
    font-size: 60px;
    line-height: 0.6;
    text-align: center;
    color: #000000;
}
.main__before-after-bottom
{
    width: 100%;
min-height: 460px;
    background: #F2F2F2;
    display: flex;
    justify-content: center;
    gap: 92px;
}
.main__before-after-calculation
{
    max-width: 436px;
    min-height: 317px;
    border: 1px solid red;
}
.before-after-top
{
    max-width: 436px;
    min-height: 96px;

}
.before-after-top p
{

    font-weight: 400;
    color: #444444;
    font-size: 16px;
    line-height: 1.4;
}
.before-after-middle
{
    margin-top: 70px;
    min-height: 77px;
    max-width: 436px;
    display: flex;
    gap:42px;
}
.before-after-card-mass
{
    min-width: 162px;
    max-width: 162px;
    min-height: 77px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.before-after-card-mass p
{
    padding: 0;
    margin: 0;
    font-size: 30px;
    position: relative;
    top:25px
}
.before-after-card-mass span
 {
     display: flex;
    justify-content: center;
    align-items: center;
     width: 114px;
     min-height: 50px;
     font-size: 14px;
     line-height: 1.4;
     text-align: center;

    background: #F2F2F2;
     color: #444444;
     position:relative;
     top:24px;
 }
.before-after-card-days
{
    min-width: 162px;
    max-width: 162px;
    min-height: 77px;
    border: 1px solid #CDCDCD;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}
.before-after-card-days p
{
    padding: 0;
    margin: 0;
    font-size: 30px;
    position: relative;
    top:25px
}
.before-after-card-days span
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 114px;
    min-height: 50px;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;

    background: #F2F2F2;
    color: #444444;
    position:relative;
    top:24px;
}
.before-after-bottom
{
    display: flex;
    margin-top: 35px;
    align-items: center;
    gap: 65px;
}
.before-after-bottom p
{
text-transform: uppercase;
}
.before-after-bottom span
{
    text-transform: uppercase;
}
.main__before-after-cat
{
    width: 690px;
    height: 656px;
    border: 1px solid red;
}