@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Shizuru&display=swap');
@import "../variables.css";
body
{
    font-family: 'Oswald', sans-serif;
}
.container
{
    max-width: 1225px;
    margin: 0 auto;
}
.header-top
{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;

}
.header-logo
{
    max-width: 202px;
    min-height: 60px;
}
.header-main-menu
{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 35px;

}
.header-main-menu a
{
    text-decoration: none;
    color: #111111;
    font-size: 20px;
    font-family: 'Oswald';
    text-transform: uppercase;
 }
.main__catalog
{
    margin-top: 75px;
}
.main__catalog h1
{text-align: center;
    max-width: 495px;
    min-height: 60px;
    font-size: 60px;


}
.main__catalog-cards-list
{
    margin-top: 165px;
   justify-content: center;
    width: 100%;
    height: auto;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}
.main__catalog-card
{
    /*background-color: var(--gg);*/
    width: 245px;
    height: 431px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: var(--basic-gray);
}

.iksweb
{
    width: 173px;
    height: auto;
    border-bottom: 1px solid #CDCDCD;

}
.iksweb td
{
color: var(--special_dark-grey);
}
.main__table-right
{
    text-align: right;
}
.main-product-logo
{
    vertical-align: bottom;

position: relative;
bottom: 15px;
}

.main__catalog-card h3
{
    max-width: 145px;
    min-height: 46px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.main__catalog-card p
{
    border-bottom: 1px solid #CDCDCD;
    max-width: 169px;
    font-size: 16px;
    margin: 0px;
    text-align: center;
    color: #444444;
}
.main__catalog-card h3
{
margin-bottom: 20px;
}
.main__block-info
{

}
.main__catalog-button
{
    background-color: var(--basic-green);
    max-width: 168px;
    min-height: 40px;
    margin-top: 33px;
    margin-bottom: 40px;
    text-decoration: none;
}
.main__big-catalog-button{
    background-color: var(--basic-green);
    max-width: 168px;
    min-height: 40px;
    margin-top: 33px;
    margin-bottom: 130px;
    text-decoration: none;

}
.main__catalog-button:nth-child(n+1)
{
  margin-bottom: 100px;

}
.main__catalog-button-text
{
    padding: 10px 53px 10px 53px;
    margin: 0;
    text-transform: uppercase;
}
.main__catalog-add-button
{
display: flex;
    align-items: center;
    background-color: var(--basic-gray);
    max-width: 171px;
    min-height: 40px;
    margin-top: 40px;
    margin-bottom: 128px;
    text-decoration: none;
    color: var(--special_dark-grey);
}
.main__catalog-add-button span
{
    padding: 20px 40px 20px 40px;
    text-transform: uppercase;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main__catalog-button-text:nth-child(1)
{
    border: none;
    color: var(--basic-white);
}
.main__catalog-add-card
{
    width: 245px;
    height: 431px;
    border: 2px solid #F2F2F2;
    display: flex;
    box-sizing: border-box;
    flex-flow: column;
    align-items: center;
    background: var(--basic-white);
}
.main__catalog-card:nth-child(5)
{
    margin-top: 80px;
}
.main__catalog-card:nth-child(6)
{
    margin-top: 80px;
}
.main__catalog-card:nth-child(7)
{
    margin-top: 80px;
}
.main__catalog-add-card:nth-child(8)
{
    margin-top: 80px
}
.main__catalog-add-card img {
margin-top: 50px;
}
.main__catalog-add-card h3 {
    margin-top:50px;
    max-width: 134px;
    min-height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
}
.main__catalog-add-card p {
    margin-top: 25px;
    max-width: 167px;
    min-height: 36px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;


    color: var(--special_dark-grey);
}

.main__catalog-card:nth-child(2n)
{
padding-bottom: -30px;
}
.main__additional-products
{
    margin-top: 75px;
}
.main__line-title
{
    width: 100%;
    border: 2px solid #68B738;
    height:0;
}
.main__line-title h4
{
    width: 338px;
    height: 36px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;

    text-align: center;
}




@media (max-width: 1257px) {
    .main__catalog-card:nth-child(4)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(5)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(6)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(7)
    {
        margin-top: 80px;
    }
    .main__catalog-add-card:nth-child(8)
    {
        margin-top: 80px;
    }

}
@media (max-width: 927px) {
    .main__catalog-card{
        width: 324px;
        height: 430px
    }
    .iksweb
    {
        width: 250px;
    }
    .main__catalog-button
    {
        width: 250px;
        max-width: 250px;
    }
    .main__big-catalog-button
    {
        width: 250px;
        max-width: 250px;
    }
    .main__catalog-card:nth-child(3)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(4)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(5)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(6)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(7)
    {
        margin-top: 80px;
    }

    .main__catalog-add-card:nth-child(8)
    {
        margin-top: 80px;
    }
    .main__catalog-add-button
    {
        width: 250px;
        max-width: 250px;
    }
}
@media (max-width: 766px)
{
    .main__catalog-card:nth-child(2)
    {
        margin-top: 80px;
    }
}