@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Shizuru&display=swap');
@import "../variables.css";
body
{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}
.container
{
    max-width: 1225px;
    margin: 0 auto;
}
.header-top
{
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;

}
.header-logo
{
    max-width: 202px;
    min-height: 60px;
}
.header-main-menu
{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 35px;

}
.header-main-menu a
{
    text-decoration: none;
    color: #111111;
    font-size: 20px;
    font-family: 'Oswald';
    text-transform: uppercase;
 }
.main__catalog
{
    margin-top: 75px;
}
.main__catalog h1
{text-align: center;
    max-width: 495px;
    min-height: 60px;
    font-size: 60px;


}
.main__catalog-cards-list
{
    margin-top: 165px;
   justify-content: center;
    width: 100%;
    height: auto;
    display: flex;
    gap: 80px;
    flex-wrap: wrap;
}
.main__catalog-card
{
    /*background-color: var(--gg);*/
    width: 245px;
    height: 431px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background: var(--basic-gray);
}

.iksweb
{
    width: 173px;
    height: auto;
    border-bottom: 1px solid #CDCDCD;

}
.iksweb td
{
color: var(--special_dark-grey);
}
.main__table-right
{
    text-align: right;
}
.main-product-logo
{
    vertical-align: bottom;

position: relative;
bottom: 15px;
}

.main__catalog-card h3
{
    max-width: 145px;
    min-height: 46px;
    text-transform: uppercase;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
}
.main__catalog-card p
{
    border-bottom: 1px solid #CDCDCD;
    max-width: 169px;
    font-size: 16px;
    margin: 0px;
    text-align: center;
    color: #444444;
}
.main__catalog-card h3
{
margin-bottom: 20px;
}
.main__block-info
{

}
.main__catalog-button
{
    background-color: var(--basic-green);
    max-width: 168px;
    min-height: 40px;
    margin-top: 33px;
    margin-bottom: 40px;
    text-decoration: none;
}
.main__big-catalog-button{
    background-color: var(--basic-green);
    max-width: 168px;
    min-height: 40px;
    margin-top: 33px;
    margin-bottom: 130px;
    text-decoration: none;

}
.main__catalog-button:nth-child(n+1)
{
  margin-bottom: 100px;

}
.main__catalog-button-text
{
    padding: 10px 53px 10px 53px;
    margin: 0;
    text-transform: uppercase;
    line-height: 1.2;
}
.main__catalog-add-button
{
display: flex;
    align-items: center;
    background-color: var(--basic-gray);
    max-width: 171px;
    min-height: 40px;
    margin-top: 40px;
    margin-bottom: 128px;
    text-decoration: none;
    color: var(--special_dark-grey);
}
.main__catalog-add-button span
{
    padding: 20px 40px 20px 40px;
    text-transform: uppercase;
    width: 100%;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.main__catalog-button-text:nth-child(1)
{
    border: none;
    color: var(--basic-white);
}
.main__catalog-add-card
{
    width: 245px;
    height: 431px;
    border: 2px solid #F2F2F2;
    display: flex;
    box-sizing: border-box;
    flex-flow: column;
    align-items: center;
    background: var(--basic-white);
}
.main__catalog-card:nth-child(5)
{
    margin-top: 80px;
}
.main__catalog-card:nth-child(6)
{
    margin-top: 80px;
}
.main__catalog-card:nth-child(7)
{
    margin-top: 80px;
}
.main__catalog-add-card:nth-child(8)
{
    margin-top: 80px
}
.main__catalog-add-card img {
margin-top: 50px;
}
.main__catalog-add-card h3 {
    margin-top:50px;
    max-width: 134px;
    min-height: 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
}
.main__catalog-add-card p {
    margin-top: 25px;
    max-width: 167px;
    min-height: 36px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    text-align: center;


    color: var(--special_dark-grey);
}

.main__catalog-card:nth-child(2n)
{
padding-bottom: -30px;
}
.main__additional-products
{
    margin-top: 75px;
}
.main__container
{
    border: 3px salmon solid;
    max-width: 1225px;
    display: flex;
}
.main__additional-products
{
    margin-top: 100px;
    width: 100%;
    height: 4px;
    background-color: var(--basic-green);
}
.main__line-title
{

}
.main__line-title h4
{
    max-width: 338px;
    width: 100%;
    min-height: 36px;
    padding-left: 40px;
    padding-right: 35px;
    display: flex;
    background-color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    text-align: start;
    position: relative;
    bottom:25px;
}
.main__product-list
{
    display: flex;
margin-top: 90px;
    gap: 80px;
}
.main__product-table
{
    width: 896px;
    height: 288px;
    border-collapse: collapse;
    gap: 20px;
    display: flex;
    align-items: center;
}
.main__product-table tr
{
    border-bottom: 1px solid #CDCDCD;
}
.line-top
{
    border-top: 1px solid #CDCDCD;
}
.main__product
{

}
.name-product
{

    min-width: 320px;
    height: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    align-items: center;
    text-transform: uppercase;
    color: #222222;

}
.number-product
{

    width: 244px;
    height: 20px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #444444;
}
.price-product
{
    width: 84px;
    height: 20px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #444444;
}
.button-product
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 244px;
    height: 40px;
    background-color: var(--basic-green);
    text-decoration: none;
    color: var(--basic-white);
    text-align: center;
}
.button-product p
{
    text-transform: uppercase;
    max-width: 192px;
    min-height: 20px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    color: #FFFFFF;
}
.button-product-table
{
    width: 244px;
    height: 75px;
}
.main__block-gift
{
    display: flex;
    flex-flow: column;
    justify-content:center;
    align-items: center;
    flex-flow: column;
    max-width: 245px;
    width: 100%;
    min-height: 289px;
    gap: 30px;
    background-image: url("../../img/gift-photo-desktop.png");

}
.main__block-gift span
{
    display: flex;
    text-align: center;
    max-width: 147px;
    color: white;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    position: relative;
    top: 12px;

    align-items: center;
    height: auto;
}
.main__map
{
    margin-top: 90px;
}
.footer
{


    background: #F2F2F2;
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__line
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
    height: 34px;
}
.footer-logo
{
    background: url("../../icon/footer-logo 2.svg");
    width: 128px;
    height: 24px;
}
.footer-social
{
    width: 130px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-vk
{
    height: 22px;
    width: 30px;

    background: url("../../icon/icon_vkontakte.svg")
}
.footer-inst
{
    height: 23px;
    width: 23px;
    background: url("../../icon/icon_instagram.svg")no-repeat;
}
.footer-fb
{
    width: 28px;
    height: 33px;
    background: url("../../icon/icon_facebook.svg")no-repeat;
}
.footer-company
{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.footer-company p
{
    width: 114px;
    height: 18px;
    font-size: 16px;
    line-height: 1.4;
    color: #444444;
}
.main__block-gift span
{

}

@media (max-width: 1257px) {
    .main__catalog-card:nth-child(4)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(5)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(6)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(7)
    {
        margin-top: 80px;
    }
    .main__catalog-add-card:nth-child(8)
    {
        margin-top: 80px;
    }

}
@media (max-width: 927px) {
    .main__catalog-card{
        width: 324px;
        height: 430px
    }
    .iksweb
    {
        width: 250px;
    }
    .main__catalog-button
    {
        width: 250px;
        max-width: 250px;
    }
    .main__big-catalog-button
    {
        width: 250px;
        max-width: 250px;
    }
    .main__catalog-card:nth-child(3)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(4)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(5)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(6)
    {
        margin-top: 80px;
    }
    .main__catalog-card:nth-child(7)
    {
        margin-top: 80px;
    }

    .main__catalog-add-card:nth-child(8)
    {
        margin-top: 80px;
    }
    .main__catalog-add-button
    {
        width: 250px;
        max-width: 250px;
    }
}
@media (max-width: 766px)
{
    .main__catalog-card:nth-child(2)
    {
        margin-top: 80px;
    }
}