@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Shizuru&display=swap');
@import "../variables.css";
body
{
    font-family: 'Oswald', sans-serif;
}
.container
{
    max-width: 1225px;
    margin: 0 auto;
}
.header-top
{
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 60px;

}
.header-logo
{
    max-width: 202px;
    min-height: 60px;
}
.header-main-menu
{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    gap: 35px;

}
.header-main-menu a
{
    text-decoration: none;
    color: #111111;
    font-size: 20px;
    font-family: 'Oswald';
    text-transform: uppercase;
}
.main h1
{
    margin-top: 75px;
    max-width: 432px;
    min-height: 60px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1.3;
    color: #000000;
}
.main__form-text-list
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 558px;
    height: 202px;
}

.main-text
{
    display: flex;
    max-width: 323px;
    min-height: 60px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;

    text-transform: uppercase;
    color: #000000;
}
.main__form-block
{
    display: flex;
    width: 100%;
    height: auto;
    margin-top: 65px;
    gap: 80px;
}
.main__form-text
{

    max-width: 559px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main__form-text label
 {
    text-transform: uppercase;
    margin-right: 15px;
    max-width: 120px;
    min-height: 30px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height:1.4;
    color: #444444;
 }
.main__form-text textarea
{
    padding: 10px 20px;
    border: 1px solid #E7E7E7;
    width: 506px;
    height: 52px;
    resize: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #444444;
}
.main__from-button
{
    border: 1px solid #E7E7E7;
    width: 568px;
    height: 200px;

}
.custom-checkbox
{
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-top: 13px;
}
.custom-checkbox span
{
    text-transform: uppercase;
}
.custom-checkbox:nth-child(1)
{
    margin-top: 25px;
}
.custom-checkbox input
{
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}
.custom-checkbox__indicator
{
    margin-right: 20px;
    width:40px;
    height: 40px;
    border: 1px solid #CDCDCD;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-checkbox input:checked + .custom-checkbox__indicator
{

}
.main__line
{
    width: 100%;
    border: 4px solid green;
}

.main__additional-products
{
    margin-top: 100px;
    width: 100%;
    height: 4px;
    background-color: var(--basic-green);
}
.main__line-title
{

}
.main__line-title h4 {
    max-width: 512px;
    width: 100%;
    min-height: 36px;
    padding-left: 40px;
    padding-right: 35px;
    display: flex;
    background-color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    text-align: start;
    position: relative;
    bottom: 25px;
}
.section__data
{
    display: flex;
    gap:92px;
}
.main__form-data
{
    max-width: 559px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 75px;
}
.main__form-data label
{
    text-transform: uppercase;
    margin-right: 15px;
    max-width: 120px;
    min-height: 30px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height:1.4;
    color: #444444;
}
.main__form-data textarea
{
    padding: 10px 20px;
    border: 1px solid #E7E7E7;
    width: 506px;
    height: 52px;
    resize: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #444444;
}
.main__form-data img
{
    position: relative;
    right: 38px;
}
.main__comment
{
    max-width: 182px;
    width: 100%;
    min-height: 36px;
    padding-left: 40px;
    padding-right: 35px;
    display: flex;
    background-color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    text-align: start;
    position: relative;
    bottom: 25px;
}
.main__form-comment
{
    margin-top: 75px;
    width: 100%;
}
.main__form-comment textarea
{
    padding: 10px 20px;
    border: 1px solid #E7E7E7;
    width: 100%;
    height: 174px;
    resize: none;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #444444;
}

.main__additional-products-comment
{
    margin-top: 100px;
    width: 100%;
    height: 4px;
    background-color: var(--basic-green);
}
.main__line-title-comment h4 {
    max-width: 182px;
    width: 100%;
    min-height: 36px;
    padding-left: 40px;
    padding-right: 35px;
    display: flex;
    background-color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    text-align: start;
    position: relative;
    bottom: 25px;
}

.main__line-title-additionally h4
{
    max-width: 212px;
    width: 100%;
    min-height: 36px;
    padding-left: 40px;
    padding-right: 35px;
    display: flex;
    background-color: white;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.4;
    text-align: start;
    position: relative;
    bottom: 25px;
}
.main__checkbox-block
{
    margin-top: 60px;
    width:100%;
    height: 300px;
    border: 1px solid red;
}


.block {
    margin-top: 2rem;
}

.custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: fit-content;
}

.custom-checkbox input {
    opacity: 0;
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
}

.custom-checkbox__indicator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #CDCDCD;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circle {
    background: var(--basic-green);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
}

.custom-checkbox__label {
    font-size: 20px;
    text-transform: uppercase;
}

.custom-checkbox input:checked + .custom-checkbox__indicator .circle {
    opacity: 1;
}
.main__map
{
    margin-top: 90px;
}
.footer
{


    background: #F2F2F2;
    height: 149px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer__line
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1220px;
    height: 34px;
}
.footer-logo
{
    background: url("../../icon/footer-logo 2.svg");
    width: 128px;
    height: 24px;
}
.footer-social
{
    width: 130px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-vk
{
    height: 22px;
    width: 30px;

    background: url("../../icon/icon_vkontakte.svg")
}
.footer-inst
{
    height: 23px;
    width: 23px;
    background: url("../../icon/icon_instagram.svg")no-repeat;
}
.footer-fb
{
    width: 28px;
    height: 33px;
    background: url("../../icon/icon_facebook.svg")no-repeat;
}
.footer-company
{
    display: flex;
    align-items: center;
    text-decoration: none;
}
.footer-company p
{
    width: 114px;
    height: 18px;
    font-size: 16px;
    line-height: 1.4;
    color: #444444;
}